<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liangfeizc.databinding" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.liangfeizc.databinding.core.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".sample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.liangfeizc.databinding.sample.basic.BasicActivity"
            android:label="@string/title_activity_basic" >
        </activity>
        <activity
            android:name="com.liangfeizc.databinding.sample.custombinding.CustomBindingActivity"
            android:label="@string/title_activity_custom_binding" >
        </activity>
        <activity
            android:name="com.liangfeizc.databinding.sample.include.IncludeActivity"
            android:label="@string/title_activity_include" >
        </activity>
        <activity
            android:name="com.liangfeizc.databinding.sample.collection.CollectionActivity"
            android:label="@string/title_activity_collection" >
        </activity>
        <activity
            android:name="com.liangfeizc.databinding.sample.resource.ResourceActivity"
            android:label="@string/title_activity_resource" >
        </activity>
        <activity
            android:name="com.liangfeizc.databinding.sample.observable.ObservableActivity"
            android:label="@string/title_activity_observable" >
        </activity>
        <activity
            android:name="com.liangfeizc.databinding.sample.viewid.ViewWithIDsActivity"
            android:label="@string/title_activity_view_with_ids" >
        </activity>
        <activity
            android:name="com.liangfeizc.databinding.sample.viewstub.ViewStubActivity"
            android:label="@string/title_activity_view_stub" >
        </activity>
        <activity
            android:name="com.liangfeizc.databinding.sample.dynamic.DynamicActivity"
            android:label="@string/title_activity_dynamic" >
        </activity>
        <activity
            android:name="com.liangfeizc.databinding.sample.attributesetter.AttributeSettersActivity"
            android:label="@string/title_activity_attribute_setters" >
        </activity>
        <activity
            android:name="com.liangfeizc.databinding.sample.converter.ConversionsActivity"
            android:label="@string/title_activity_conversions" >
        </activity>
    </application>

</manifest>
