<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liangfeizc.databindingsamples" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.BasicActivity"
            android:label="@string/title_activity_basic" >
        </activity>
        <activity
            android:name=".custombindings.CustomBindingActivity"
            android:label="@string/title_activity_custom_binding" >
        </activity>
        <activity
            android:name=".includes.IncludeActivity"
            android:label="@string/title_activity_include" >
        </activity>
        <activity
            android:name=".collections.CollectionActivity"
            android:label="@string/title_activity_collection" >
        </activity>
        <activity
            android:name=".resources.ResourceActivity"
            android:label="@string/title_activity_resource" >
        </activity>
        <activity
            android:name=".observable.ObservableActivity"
            android:label="@string/title_activity_observable" >
        </activity>
        <activity
            android:name=".viewids.ViewWithIDsActivity"
            android:label="@string/title_activity_view_with_ids" >
        </activity>
        <activity
            android:name=".viewstub.ViewStubActivity"
            android:label="@string/title_activity_view_stub" >
        </activity>
        <activity
            android:name=".dynamic.DynamicActivity"
            android:label="@string/title_activity_dynamic" >
        </activity>
        <activity
            android:name=".attributesetters.AttributeSettersActivity"
            android:label="@string/title_activity_attribute_setters" >
        </activity>
    </application>

</manifest>
